<p>{{title}}</p>
<p>{{content}}</p>
<p>{{user.username}}</p>
<p>{{format_date date_created}}</p>

{{#equals user_id session_id}}
<a href="#" data-blogTitleId="{{id}}" class="delete">Delete</a>
{{/equals}}


<br>
{{#each comments}}
<p>{{comment_text}}, {{user.username}}, {{format_date date_created}}</p>
{{/each}}
{{#if logged_in}}
<br>
Add a comment:
<form class="comment-form">
    <textarea id="comment"></textarea>
    <button type="submit">Post</button>
</form>
{{/if}}

<script src="/js/blogpost.js"></script>
<script src="/js/delete.js"></script>
